<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home/dashboard"
        text=""
      ></ion-back-button>
      <ion-title>Appointments</ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-list>

          <ion-item lines="full" *ngFor="let a of appointments" (click)="startConsultation(a)">
            <ion-thumbnail slot="start">
                <ion-img src="/assets/disease.png"></ion-img>
            </ion-thumbnail>
              <ion-label margin>
                <h1>{{a.name}}</h1>
                <p>Age: {{a.age + ' yrs'}}</p>
                <h2>  {{a.bookingDate + ' : ' +a.bookingTime}}</h2>
              </ion-label>
            </ion-item>
      </ion-list>
</ion-content>
