<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content color="secondary">
  <ion-grid class="mainGrid">
    <ion-row>
        <ion-col class="dashboard vertical-align-center" size="6" (click)="navigateSession()">
          <ion-grid>
              <ion-row class="vertical-align-center">
                      <ion-col class="vertical-align-center">
                          <img src="/assets/time.gif" class="dashboard big"/> 
                      </ion-col>          
              </ion-row>
              <ion-row class="vertical-align-center">
                  <ion-col class="vertical-align-center"><ion-text><h4>Session</h4></ion-text></ion-col>
              </ion-row>
          </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
