ion-badge {
    margin: 5px;
}

div.qualification-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

    // .borderBottom {
    //     border-bottom: 1px solid black;
    // }