<ion-toolbar color="secondary" *ngIf="doctor != undefined">
  <ion-avatar slot="end" *ngIf="doctor.image != null" (click)="profilePage()">
    <img [src]="'data:' +  doctor.imageContentType
    + ';base64,' + doctor.image
    ">
  </ion-avatar>

  <ion-icon class="header-icon" name="settings" slot="start" (click)="settingsPage()"></ion-icon>
  <ion-icon slot="end" *ngIf="doctor.image == null" (click)="profilePage()" class="header-icon" name="contact">
  </ion-icon>

  <div class="notification-div" slot="end">
    <ion-icon name="notifications" class="header-icon ion-margin-horizontal" >
    </ion-icon>
    <ion-badge color="danger">45</ion-badge>
  </div>

</ion-toolbar>